
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/
/allure-report/
/report/
/tests/
/.vscode/
/testData/testData.xlsx/
